<h5>{{ fio.Surname }} {{ fio.Name }} {{ fio.Patronymic }} <button type="submit" class="btn-success btn btn" id="documents" data-id="{{ fio.Id_patient }}">Вложения к амбулаторной карте</button></h5> 
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Посещение</th>
			<th>Время</th>
			<th>ЛПУ</th>
			<th>Врач</th>
			<th>Подробнее</th>
		<tr>
	</thead>
	
	<tbody>
		{% for data in card_list %}
		<tr>
			<td>{{ data.Date }}</td>
			<td>{{ data.Hour }}:{{ data.Minute }}</td>
			<td>{{ data.Name }}</td>
			<td>{{ data.FIO }}</td>
			<td><button type="submit" class="btn-success btn btn-block" id="more_info" data-id="{{ data.Id_patient }}"  data-date="{{ data.Date }}" data-protocol="{{ data.Id_visitation }}">Подробнее</button></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
